$max-xs: 500px;
$max-sm: 700px;
$max-md: 900px;
$max-lg: 1300px;
$max-xl: 1500px;

@mixin xs {
  @media (max-width: $max-xs) {
    @content
  }
};

@mixin sm {
  @media (max-width: $max-sm) {
    @content
  }
};

@mixin md {
  @media (max-width: $max-md) {
    @content
  }
};

@mixin lg {
  @media (max-width: $max-lg) {
    @content
  }
};

@mixin xl {
  @media (max-width: $max-xl) {
    @content
  }
};
